<div class="container">
  <h1>Hello, World!</h1>

  <% @skills.each do |skill| %>
    <div class="well">
      <h3><%= skill.name %></h3>
      <p><%= skill.details %></p>
      <p><strong>Level : </strong><%= skill.level %></p>
    </div>
  <% end %>

</div>